# Python caches
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.venv
env/
venv/

# Secrets
credentials.json
token.json
client_secret.json

# User Data
cv.pdf
# src/perfil.py <- Comentado para permitir acceso, es código fuente
recomendaciones/

# Logs
*.log
